.page-wrap {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 30px;
  @include mq($ml) {
    padding: initial;
  }
}

.events-container {
  max-height: 900px;
  overflow-y: scroll;
  scroll-behavior: smooth;
  opacity: 0;

  &.-show {
    opacity: 1;
    transition: opacity 0.5s ease-in;
  }
}

.calender-holder {
  display: flex;
  flex-direction: column;

  @include mq($ml) {
    flex-direction: row;
  }
}

.calender-holder__content {
  max-width: 100%;
  flex-basis: 100%;

  @include mq($ml) {
    max-width: 50%;
    flex-basis: 50%;
  }

  h1 {
    font-family: FinancierDisplayWeb, serif;
    font-size: 2.5em;
    padding: 1.5em 0 0.5em;
  }
}

.calender-holder__cal {
  max-width: 100%;
  flex-basis: 100%;

  @include mq($ml) {
    max-width: 50%;
    flex-basis: 50%;
  }
}

.event-item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  align-items: center;
  background-color: #f7e9d9;
  margin-bottom: 60px;
  border: 2px transparent solid;

  @include mq($xm) {
    height: 190px;
    flex-direction: row-reverse;

  }

  &.-hide {
    display: none;
  }

  &.-fade {
    opacity: 0.3;
  }

  &.-blink {
    animation: blinky 1s step-end infinite;
  }
}

@keyframes blinky {
  from, to {
    border-color: transparent
  }
  50% {
    border-color: #d56c21
  }
}

.event-item__img {
  height: 250px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  max-width: 100%;
  @include mq($xm) {
    height: 190px;
    flex-basis: 320px;
    max-width: 320px;

  }
}

.event-content {
  display: flex;
  flex-direction: column;
  background: #f7e9d9;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
  flex: 1;
  max-width: 100%;
  flex-basis: 100%;
  width: 100%;
  position: relative;
  padding-top: 10px;

  @include mq($ml) {
    max-width: calc(100% - 320px);
    flex-basis: calc(100% - 320px);
  }
}

.event-item__title {
  font-size: 20px;
  font-family: Arial;
  color: black;
  font-weight: bold;
  padding-left: 20px;

}

.event-item__date {
  font-size: 18px;
  font-family: Arial;

  padding-left: 20px;

}

.event-item__location {
  font-size: 18px;
  font-family: Arial;

  padding-left: 20px;
}

.event-item__cta {
  background-color: #b5aca3;
  color: white;
  border-radius: 0;
  font-size: 18px;
  transition: background-color 0.5s ease-in;

  &:hover {
    background-color: darken(#b5aca3, 20%);
    transition: background-color 0.5s ease-in;
  }
}

.event-item__brands {
  position: absolute;
  width: 100%;
  background: #f7e9d9;
  opacity: 0;
  transition: opacity 0.5s ease-in, z-index 0.5s ease-out;
  z-index: -5;
  box-shadow: 1px 3px 8px #888888;
  display: flex;
  flex-direction: row;
  padding: 15px 20px;

  .-hover & {
    opacity: 1;
    z-index: 2;
    transition: opacity 0.5s ease-in;
  }
}

.event-item__brands-wrapper {
  position: relative;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  color: black;
  font-family: Arial;
  padding-bottom: 10px;
  padding-left: 20px;

  @include mq($xm) {
    padding-bottom: 20px;
  }

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 70px;
    height: 40px;
    background: transparent;
    left: 0;
    z-index: 99;
  }

  &:after {
    content: '›';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    z-index: 99;
    right: -12px;
    top: -5px;
    font-size: 20px;
  }
}

.event-item__brands-item {
  width: 100px;
  height: 50px;
  background-size: contain !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;

  &.-money_management {
    background: URL("../dist/static/img/brands/moneymanagement.png");
  }

  &.-financial_times {
    background: URL("../dist/static/img/brands/ft.png");
  }

  &.-fTfm {
    background: URL("../dist/static/img/brands/fdi.png");

  }

  &.-pensions_expert {
    background: URL("../dist/static/img/brands/pension-expert.png");

  }

  &.-pwm {
    background: URL("../dist/static/img/brands/pwn.png");

  }

  &.-the_banker {
    background: URL("../dist/static/img/brands/the-banker.png");

  }

  &.-ftadviser {
    background: URL("../dist/static/img/brands/fdi.png");

  }

  &.-financial_adviser {
    background: URL("../dist/static/img/brands/ft-advisor.png");
  }

  &.-fdi {
    background: URL("../dist/static/img/brands/fdi.png");
  }

  &.-ic {
    background: URL("../dist/static/img/brands/fdi.png");

  }

  &.-gis {
    background: URL("../dist/static/img/brands/gis.png");

  }
}

.event-item__cta-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
  margin-top: auto;
}

.end-date {
  display: block;

  &.-hide {
    display: none;
  }
}

.create-form__brands {
  display: flex;
  flex-direction: column;
}

.create-form__brands-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;

  label {
    margin: 0;
  }

  input {
    -webkit-appearance: initial !important;
  }
}

.create-form__img {
  padding: 20px 0;
}

.calender-filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.calender-filter__brands-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  @include mq($ml) {
    padding: initial;
  }

  input {
    margin: 0;
    margin-right: 5px;
  }

  @include mq($ml) {
    max-width: 20%;
    flex-basis: 20%;
  }

  input {
  }

  label {
    margin: 0;
    font-family: Arial;
    font-size: 16px;
    font-weight: 300;
  }
}

.filter__container {
  padding: 70px 0;
}

.list-filters__title {
  text-align: center;
  font-family: Arial;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 30px;
}